asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
defusedxml==0.7.1
Django==3.1.7
django-allauth==0.44.0
django-bootstrap4==2.3.1
django-crispy-forms==1.11.2
django-social-share==2.2.1
idna==2.10
importlib-metadata==2.1.1
oauthlib==3.1.0
pycparser==2.20
PyJWT==2.0.1
python-social-auth==0.2.1
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==0.3.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.3
zipp==3.4.1
