{% extends 'base/logout.html' %}
{% load crispy_forms_tags %}
{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
{% endblock %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
    <div style="font-family: monospace; padding: 1rem">
        <div style="margin: 0 auto; width: 500px; padding: .5rem;  box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem"
             class="form">
            <form method="POST" class="form-group">
                <div class="modal-header">
                    <h1>Logged Out</h1>
                </div>
                <div class="modal-body">
                    <h3>You are successfully Logged Out !</h3>
                </div>
                <div class="modal-footer">
                    {% buttons %}
                        <a href="{% url 'login' %}" class="btn btn-primary">Click here to login again.</a>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}