{% extends 'base/base.html' %}

{% load humanize %}

{% block css %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

        * {
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background:white;
            color: white;
            overflow-x: hidden;
        }

        h1 {
            width: 100%;
            color: rgba(0,0,0,.7);
            margin-bottom: 10px;
            align-items: center;
            text-align: center;
            justify-content: center;
        }

        hr {
            border: 0;
            border-top: 1px solid black;
        }

        #hr2 {
            margin-left: 5%;
            width: 90%;
            border-top: 1px solid white;

        }

        .wrapper {
            width: 100%;
            height: 100%;
            padding: 50px;
        }

        .lboard_section {
            margin: 10px 20px;
            position: relative;
        }

        .lboard_section ul {
            display: flex;
            padding: 10px;
            justify-content: space-between;

        }

        .lboard_section ul li {
            font-size: 1.7em;
            font-weight: 600;
        }

        .lboard_wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            padding-right: 100px;
        }

        .lboard_wrap .lboard_item {
            margin-top: 60px;
            padding: 20px;
            min-height: 100vh;
            background: black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .lboard_wrap .lboard_item .lboard_member {
            display: flex;
            align-items: center;
            padding: 20px 0;
            border-bottom: 1px solid #ffe3;
        }

        .lboard_wrap .lboard_item .lboard_member:first-child {
            padding-top: 0;
        }

        .lboard_wrap .lboard_item .lboard_member:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .lboard_wrap .lboard_member .image {

            width: 50px;
        }

        .lboard_wrap .lboard_member .image img {
            display: block;
            width: 100%;
        }

        .lboard_wrap .lboard_member .name_bar {
            margin: 0 20px;
            width: 80%;
        }

        .lboard_wrap .lboard_member .name_bar p {
            font-size: 1.4em;
        }

        .lboard_wrap .lboard_member .name_bar p span {
            margin-right: 5px;
            color: cyan;

        }

        .lboard_wrap .lboard_member .points {
            width: 10%;
            font-size: 1.3em;
            font-weight: 600;
        }

        .lboard_wrap .lboard_item .bar_wrap {
            height: 5px;
            width: 90%;
            background: #3b3b3b;
            border-radius: 5px;
            margin-top: 15px;
            margin-bottom: 10px;
            position: relative;
            overflow: hidden;
        }

        .lboard_wrap .lboard_item .bar_wrap .inner_bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            background: orange;
            border-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-thumb {
            background: black;

            border-radius: 6px;
            max-height: 10px;
        }

        @import url("https://fonts.googleapis.com/css?family=Open+Sans");

        .menu {
            position: fixed;
            top: 20px;
            left: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 50px;
            height: 50px;
            background-color: white;
            border-radius: 50%;
            -webkit-transition: -webkit-transform 250ms ease;
            transition: -webkit-transform 250ms ease;
            transition: transform 250ms ease;
            transition: transform 250ms ease, -webkit-transform 250ms ease;
            cursor: pointer;
            z-index: 200;
        }

        .menu span {
            position: relative;
            display: block;
            width: 50%;
            height: 2px;
            background-color: black;
            float: left;
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-transition: -webkit-transform 250ms ease;
            transition: -webkit-transform 250ms ease;
            transition: transform 250ms ease;
            transition: transform 250ms ease, -webkit-transform 250ms ease;
            z-index: 200;
        }

        .menu span:nth-of-type(1) {
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
        }

        .menu span:nth-of-type(3) {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
        }

        #menu {
            display: none;
        }

        #menu:checked ~ .menu {
            background-color: transparent;
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: -webkit-transform 250ms ease;
            transition: -webkit-transform 250ms ease;
            transition: transform 250ms ease;
            transition: transform 250ms ease, -webkit-transform 250ms ease;
        }

        #menu:checked ~ .menu span {
            background-color: white;
            -webkit-transition: -webkit-transform 250ms ease;
            transition: -webkit-transform 250ms ease;
            transition: transform 250ms ease;
            transition: transform 250ms ease, -webkit-transform 250ms ease;
        }

        #menu:checked ~ .menu span:nth-of-type(1) {
            -webkit-transform: translateY(1px) rotate(45deg);
            transform: translateY(1px) rotate(45deg);
        }

        #menu:checked ~ .menu span:nth-of-type(2) {
            display: none;
        }

        #menu:checked ~ .menu span:nth-of-type(3) {
            -webkit-transform: translateY(-1px) rotate(-45deg);
            transform: translateY(-1px) rotate(-45deg);
        }

        #menu:checked ~ .nav {
            left: 0px;
            -webkit-transition: left 500ms ease;
            transition: left 500ms ease;
        }

        #menu:checked ~ main {
            -webkit-transform: translateX(250px);
            transform: translateX(250px);
            -webkit-transition: -webkit-transform 500ms ease;
            transition: -webkit-transform 500ms ease;
            transition: transform 500ms ease;
            transition: transform 500ms ease, -webkit-transform 500ms ease;
        }

        .nav {
            position: fixed;
            top: 0;
            left: -310px;
            width: 300px;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: white;
            font-size: 0.8em;
            -webkit-transition: left 500ms ease;
            transition: left 500ms ease;
            z-index: 2;
        }

        .nav ul {
            position: relative;
            list-style-type: none;
            margin: 150px 0;
            margin-bottom: 30px;
            padding: 0;
        }

        .nav ul li {
            position: relative;
            display: block;
            position: relative;
            margin: 1em 0;
        }

        .nav ul li a {
            position: relative;
            display: block;
            margin: 0;
            padding: 15px 20px;
            color: white;
            line-height: 4em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(255, 255, 255, 0.35);
        }

        @media screen and (max-width: 1024px) {
            footer {
                font-size: 14px;
            }

            .social {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .social ul li {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
            }
        }

        .logout-button {
            background-color: transparent;
            border: none;
            position: relative;
            display: block;
            margin: 0;
            padding: 15px 20px;
            line-height: 4em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(255, 255, 255, 0.35);
        }


        .logout-button:hover, .logout-button:focus {
            outline: none;
            color: rgba(255, 255, 255, 0.75);
        }

        .nav ul li.active a and .nav ul li.active button {
            color: white;
        }

        .nav ul li:not(.active)::after {
            opacity: 0.2;
        }

        .nav ul li:not(.active):hover a {
            color: rgba(255, 255, 255, 0.75);
        }

        .nav ul li::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.2em;
            background: black;
            left: 0;
            bottom: 0;
            background-image: -webkit-gradient(
                    linear,
                    left top,
                    right top,
                    from(grey),
                    to(black)
            );
            background-image: linear-gradient(to right, grey, black);
        }

        .nav ul li:not(.active):hover a {
            color: rgba(255, 255, 255, 1);
            transform: scale(1.01);
        }

        .logout-button {
            color: rgba(255, 255, 255, .75);
        }

        .nav ul li a {
            color: rgba(255, 255, 255, 0.75);
        }

        .logout-button:hover, .logout-button:focus {
            outline: none;
            color: rgba(255, 255, 255, 1);
        }
    </style>
{% endblock %}


{% block content %}


    <div class="wrapper">
        <h1>Trade & Code Leader Board</h1>

        <hr id="hr2">
        <div class="lboard_wrap">
            <div class="lboard_item">
                {% for team in teams %}
                    <div class="lboard_member" style="overflow-x: scroll">
                        <div>
                            <strong style="font-size: 20px; letter-spacing: 1px">
                                {{ forloop.counter }}.)
                            </strong>
                        </div>
                        <div class="name_bar">
                            <p><span></span>{{ team.teamName }}
                                - {{ team.createdBy.first_name }} {{ team.createdBy.last_name }}</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: {% widthratio team.coins maxcoins 100 %}%">
                                </div>
                            </div>
                        </div>
                        <div class="points">{{ team.coins|intcomma }}</div>
                    </div>
                {% empty %}
                    <div class="lboard_member">
                        <div class="image">
                        </div>
                        <div class="name_bar">
                            <p>No Team Present</p>
                            <div class="bar_wrap">
                                <div class="inner_bar" style="width: 10%">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}