{% extends 'base/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block css %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
    <style>
        .container {
            padding-left: 10px;
            width: 100%;
            padding-right: 10px;
        }

        h2 {
            font-size: 2.5em;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.2em;
            margin: 20px 0;
            text-align: center;
            color: #fff;
        }

        .responsive-table li {
            border-radius: 3px;
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            font-size: 18px;
        }

        .responsive-table .table-header {
            background-color: #0aa6b1;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }

        .responsive-table .table-row {
            background-color: #8b8b8b;
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        }

        .responsive-table .col-1 {
            flex-basis: 10%;
        }

        .responsive-table .col-2 {
            flex-basis: 40%;
        }

        .responsive-table .col-3 {
            flex-basis: 25%;
        }

        .responsive-table .col-4 {
            flex-basis: 25%;
        }

        @media all and (max-width: 767px) {
            .responsive-table .table-header {
                display: none;
            }

            .responsive-table li {
                display: block;
            }

            .responsive-table .col {
                flex-basis: 100%;
            }

            .responsive-table .col {
                display: flex;
                padding: 10px 0;
            }

            .responsive-table .col:before {
                color: #ffffff;
                padding-right: 10px;
                font-size: 20px;
                text-transform: uppercase;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    </style>
{% endblock %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
    <div style="font-family: monospace; padding: 1rem">
        <div style="margin: 0 auto; width: 80%; padding: .5rem;  box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem">
            <div class="modal-header">
                <h3>Submission Detail</h3>
            </div>

            <div class="form-group">
                <label>
                    Team Name
                </label>
                <input value="{{ submission.teamCode.teamName }}" disabled class="form-control"/>
            </div>
            <div class="form-group">
                <label>
                    Time of Submission
                </label>
                <input value="{{ submission.timeOfSubmission }}" disabled class="form-control"/>
            </div>
            <div>
                <h3 style="text-align: center">Team coins - {{ submission.teamCode.coins }}</h3>
            </div>
            <div>
                <label>
                    Components
                </label>
                {% for component in components %}
                    <div style="margin: 1rem; background-color: lightgrey; padding: 1rem; border-radius: 20px">
                        <div style=" font-size: 15px;">{{ component.component.componentName }}
                            - {{ component.quantity }}</div>
                    </div>
                {% endfor %}

            </div>
            <div>
                <label>
                    Players
                </label>
                {% for player in players %}
                    <div style="margin: 1rem; background-color: lightgrey; padding: 1rem; border-radius: 20px">
                        <div style=" font-size: 15px;">{{ player.player.first_name }} {{ player.player.last_name }}
                            - {{ player.player.email }}</div>
                    </div>
                {% endfor %}

            </div>
            <div>
                <label>
                    Code
                </label>
                <div style=" overflow-x: scroll;margin: 1rem; background-color: lightgrey; padding: 1rem; border-radius: 20px">
                    {% for codeline in code %}
                        <div style="white-space: pre; font-size: 15px;">{{ codeline }}</div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <h1>Team Transactions</h1>
        <h2>Transactions for {{ team.teamName }}</h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">S no.</div>
                <div class="col col-2">Message</div>
                <div class="col col-3">Previous Balance</div>
                <div class="col col-2">Credit</div>
                <div class="col col-2">Debit</div>
                <div class="col col-2">Balance</div>
            </li>
            {% for transaction in transactions %}
                <li class="table-row">
                    <div class="col col-1" data-label="S.no">{{ forloop.counter }}.)</div>
                    <div class="col col-2" data-label="Message">{{ transaction.message }}</div>
                    <div class="col col-3"
                         data-label="Previous Balance">{{ transaction.previousBalance|intcomma }}</div>
                    {% if transaction.mode == 'Credit' %}
                        <div class="col col-2" data-label="Credit">
                            + {{ transaction.changeAmount|intcomma }}</div>
                        <div class="col col-2" data-label="Debit">0</div>
                    {% else %}
                        <div class="col col-2" data-label="Credit">0</div>
                        <div class="col col-2" data-label="Debit">
                            - {{ transaction.changeAmount|intcomma }}</div>
                    {% endif %}
                    <div class="col col-4" data-label="Current Balance">{{ transaction.balance|intcomma }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="font-family: monospace; padding: 1rem">
        <div style="margin: 0 auto; width: 500px; padding: .5rem;  box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem"
             class="form">
            <form method="POST" class="form-group">
                <div class="modal-header">
                    <h1>Check Submission</h1>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% if message %}
                        <p style="color: orangered"> {{ message }}</p>
                    {% endif %}

                    {% bootstrap_form form %}
                </div>
                <div class="modal-footer">
                    {% buttons %}
                        <button type="reset" class="btn btn-danger">Reset</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </div>
            </form>
        </div>
    </div>

    <div style="font-family: monospace; padding: 1rem">
        <div style="margin: 0 auto; width: 500px; padding: .5rem;  box-shadow: 5px 5px 10px 5px #888888;border-radius: 1rem">
            <div class="modal-header">
                <h5>Guide Lines</h5>
            </div>
            <br/>
            <div>
                <ul>
                    <li><h6>Max points for the question - <strong>{{ question.points }}.</strong></h6></li>
                    <li><h6>You can check the question only once.</h6></li>
                    <li><h6>Checking should be unbiased. </h6></li>
                    <li><h6>It will be known who checked the submission.</h6></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}